@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robot', sans-serif;
}

a {
    text-decoration: none;
    color: #1c1e53;
}

li {
    list-style: none;
}

h5 {
    font-size: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: #fff;
    height: 80px;
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);

}

header .mark {
    font-size: 30px;
    margin: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

/* header .mark a:hover {
    color: cornflowerblue;
} */

header .sns {
    margin: 40px;
}

header .sns ul {
    display: flex;
    gap: 40px;
    font-size: 30px;
    transition: all 0.3s ease;
}

header .sns ul li a:hover {
    color: cornflowerblue;
}